.vscode
__pycache__/
*.pth
exp/
ultrasound
best_model_gaussian.pt
inp_masks
datasets/train_gt
datasets/test_CY
outputs_ultrasound_ddrm
outputs_ultrasound_ddrm_mask
datasets/test_CN
outputs_noise_to_denoising
final_mixed_training_model.pt
best_model_phase2.pt
datasets/test_CN_ON
datasets/test_CN_OY
datasets/test_CY_ON
datasets/test_CY_OY
datasets/train_CN_CY_ALL
datasets/train_CN_CY
outputs_ultrasound_ddrm_sigma0.05_0.025_0.01
optimization_results